<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.jaumesingla.ultrasearchfree"
    android:installLocation="auto"
    android:versionCode="2"
    android:versionName="1.5" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name="es.jaumesingla.ultrasearch.UltraSearchApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="es.jaumesingla.ultrasearch.search.MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN"
                    android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.ASSIST" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".share.ShareLimitedActivity"
            android:theme="@style/AppTheme.Dialog" >
        </activity>
        <activity
            android:name="es.jaumesingla.ultrasearch.settings.SettingsActivity"
            android:label="@string/menu_settings"
            android:theme="@style/AppTheme.Dialog" >
        </activity>
        <activity
            android:name="es.jaumesingla.ultrasearch.about.AboutActivity"
            android:label="@string/about"
            android:theme="@style/AppTheme.Dialog" >
        </activity>

        <receiver android:name="es.jaumesingla.ultrasearch.service.ProgramDatabaseReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name="es.jaumesingla.ultrasearch.service.DatabaseUpdateReceiver" >
        </receiver>

        <activity
            android:name="es.jaumesingla.ultrasearch.widgets.activities.ListWidgetSettings"
            android:label="@string/menu_settings" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <receiver
            android:name="es.jaumesingla.ultrasearch.widgets.ListWidgetProvider"
            android:label="a-- WidgetSearch" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="es.jaumesingla.UltraSearchApp.ACTION_UPDATE_WIDGET" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/list_widget" />
        </receiver>

        <service
            android:name="es.jaumesingla.ultrasearch.widgets.ListWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <activity
            android:name="es.jaumesingla.ultrasearch.search.AdvertisementActivity"
            android:label="@string/title_activity_advertisment" >
        </activity>
    </application>

</manifest>