<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.jaumesingla.ultrasearch"
    android:versionCode="2"
    android:versionName="1.5" 
    android:installLocation="auto">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />
    
     <uses-feature android:name="android.hardware.touchscreen" android:required="false"/>
     <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:allowBackup="true"
        android:theme="@style/AppTheme"
        android:name="es.jaumesingla.ultrasearch.UltraSearchApp" 
        >
        <activity
            android:name=".search.MainActivity"
            android:label="@string/title_activity_main" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.app.ListActivity" />
             <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter >
                <action android:name="android.intent.action.ASSIST" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".settings.SettingsActivity" 
            android:label="@string/menu_settings">
        </activity>
        <activity
            android:name=".about.AboutActivity" 
            android:label="@string/about"
            android:theme="@style/AppTheme.Dialog">
        </activity>
        
         <receiver android:name=".service.ProgramDatabaseReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".service.DatabaseUpdateReceiver" >
        </receiver>
        
        <activity 
            android:name=".widgets.activities.ListWidgetSettings"
            android:label="@string/menu_settings"

            >
            <intent-filter>
		        <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
		    </intent-filter>
        </activity>

        <receiver android:name=".widgets.ListWidgetProvider" android:label="a-- WidgetSearch">
		    <intent-filter>
		        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
		        <action android:name="es.jaumesingla.UltraSearchApp.ACTION_UPDATE_WIDGET" />
		    </intent-filter>
		    <meta-data android:name="android.appwidget.provider" android:resource="@xml/list_widget" />
		</receiver>
		<service android:name=".widgets.ListWidgetService" android:permission="android.permission.BIND_REMOTEVIEWS"></service>
		
        
    </application>
</manifest>